@model mvc_gog.Models.Produit

@{
    ViewData["Title"] = "Create";
}


<section class="section hero" id="home" aria-label="home">
    <div class="container">

        <div class="hero-content">


            <h1 class="h1 hero-title">
                Games don't make you violent, <span class="span"> lag </span> does.
            </h1>

            <button class="btno btn skewBg">Read More</button>

        </div>

        <figure class="hero-banner img-holder" style="--width: 700; --height: 700;">
            <img src="~/css/Images/hero-banner.png" width="700" height="700" alt="hero banner" class="w-100">
        </figure>

    </div>
</section>

<main>
    <article>
        <section class="sectiong featured-games" style="background-color: var(--raisin-black-3);" id="features" aria-label="featured game">



            <div class="frmcontainer">
                <h1 class="form-header"> ADD GAME</h1>



                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="imageurl" class="form-control text-light" style="background-color: transparent; border: 1px solid white" placeholder="imageurl" />
                        <span asp-validation-for="imageurl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Prodname" class="form-control text-light" style="background-color: transparent; border: 1px solid white" placeholder="Prodname" />
                        <span asp-validation-for="Prodname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Price" class="form-control text-light" style="background-color: transparent; border: 1px solid white" placeholder="Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Dateofcreation" class="form-control text-light" style="background-color: transparent; border: 1px solid white" placeholder="Dateofcreation" />
                        <span asp-validation-for="Dateofcreation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="desc" class="form-control text-light" style="background-color: transparent; border: 1px solid white" placeholder="desc" />
                        <span asp-validation-for="desc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Autor" class="form-control text-light" style="background-color: transparent; border: 1px solid white" placeholder="Autor" />
                        <span asp-validation-for="Autor" class="text-danger"></span>
                    </div>
              

                    <div class="BTNS">

                        <a asp-for="ProduitID"> <input type="submit" value="Save" class="SUB-button" /></a>


                        <a asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

                    </div>






                </form>
            </div>


        </section>

    </article>
</main>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
